<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="shadow row bg-light mb-5 mx-1">
				<div class="col px-4 pt-5">
					<h2> Publication <button type="button" class="btn btn-light btn-outline-dark" onClick="window.open('https://scholar.google.com/citations?hl=en&user=nqSti6wAAAAJ');">Visit my google scholar profile</button></h2>
					<img class="pt-3" src="assets/images/noz.JPG" width="100%">
				</div>
				<div class="px-4 pt-5 pb-4">
					<p>
						Last Updated: 17th August
					</p>
					<p>
						Pankaj Kumar Singh, and Amrendra Tripathi, "CFD ANALYSIS OF DE-LAVAL NOZZLE," International Journal Of Advance Research And Innovative Ideas In Education, vol. 3, no. 2, pp. 4390-4411, Mar-App 2017. [Online]. Available: http://ijariie.com/AdminUploadPdf/CFD_ANALYSIS_OF_DE_LAVAL_NOZZLE_ijariie4821.pdf [Accessed : ].	
					</p>
					<p>
						
					<p>
						
					</p>
				</div>
			</div>

		</div>
	</div>
</div>
