<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="shadow row bg-light mb-5 mx-1">
				<div class="col px-4 pt-5">
					<h2>Projects <button type="button" class="btn btn-light btn-outline-dark" onClick="window.open('https://scholar.google.com/citations?hl=en&user=nqSti6wAAAAJ');">Visit my google scholar profile</button></h2>
					<img class="pt-3" src="assets/images/proj.png" width="100%">
				</div>
				<div class="px-4 pt-5 pb-4">
					<p>
						Last Updated: 17th August
					</p>
					<p>
						AS 5100 Mini Project : Structural Aircraft Design
					</p>
					<p>
						AS 5213 Design of UAV
					</p>
					<p>
						I have mentioned some brief description of my publications below. To get a list of all my publications please visit <a class="" href="/publications">here <i class="fa fa-external-link" style="font-size:12px"></i></a>.
					</p>
				</div>
			</div>

		</div>
	</div>
</div>
